  /*login*/
  .login-menu {
      background: linear-gradient(135deg, #0f0f0f 0%, #1a1a1a 100%);
      color: #fff;
      font-family: 'Arial', sans-serif;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/assets/fundo-capa.webp');
      background-size: cover;
      background-position: center;
      backdrop-filter: blur(2px);
  }

  .login-card {
      background: rgba(0, 0, 0, 0.85);
      border: 2px solid #ff004c;
      border-radius: 20px;
      padding: 2rem;
      box-shadow: 0 0 20px #ff004c, 0 0 40px #007bff;
  }

  .login-card h2 {
      color: #ff004c;
      font-weight: bold;
      text-shadow: 0 0 10px #ff004c;
      text-align: center;
      margin-bottom: 1rem;
  }

  .form-control {
      background-color: #1a1a1a;
      border: 1px solid #ff004c;
      color: #fff;
  }

  .form-control::placeholder {
      color: #fff;
      opacity: 1;
  }

  .form-control:focus {
      background-color: #1a1a1a;
      color: #fff;
      border-color: #007bff;
      box-shadow: 0 0 10px #007bff;
  }

  .btn-login {
      background: linear-gradient(45deg, #ff004c, #007bff);
      border: none;
      color: #fff;
      font-weight: bold;
      transition: 0.3s ease;
  }

  .btn-login:hover {
      background: linear-gradient(45deg, #007bff, #ff004c);
      box-shadow: 0 0 10px #ff004c, 0 0 8px #007bff;
  }

  .spider-logo {
      width: auto;
      height: 200px;
      display: block;
      margin: 0 auto 1rem;
  }
/*login*/

/*nav*/
.custom-navbar {
  background: rgba(205, 0, 0); /* vermelho fosco */
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  padding: 10px 20px;
  border-radius: 0 0 16px 16px;
}

.custom-navbar .nav-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 4px;
}

.custom-navbar .nav-link {
  color: #fff;
  font-weight: 600;
  margin: 0 10px;
  position: relative;
  transition: all 0.3s ease;
}

.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fff;
  transition: width 0.3s ease;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
/*nav*/

/*sinopse*/

/*sinopse*/
